@use '../custom'as *;
@media screen and (min-width: 0) {
  
}
@media screen and (min-width: 847px) {
  .main-content {
    height: 100vh;
  }
}
@media screen and (min-width: 1300px) {
  .main-content {
    display: grid;
    grid-template-columns: 70% 30%;
    height: auto;
    background-color: $bg-secondary-1;
    gap: 1rem;
    padding: 1rem;
  }
}
