@use '../custom'as *;

@media screen and (min-width: 0) {
.righ-side[data-visible="true"] {
  transform: translateX(0);

  .info-close {
    position: absolute;
    top: 0.1rem;
    left: 1rem;
    display: block;
    color: rgb(168, 0, 0);
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;

  }
}

.righ-side {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg-secondary-1);
  transform: translateX(100%);
  transition: 0.4s;

  .announcements {
    background-color: var(--white);
    margin: 1rem;
    margin-top: 2rem;

  }
}
}