@media screen and (min-width: 0) {
  /* FONT FAMILY */
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
  /*
  =============== 
  Global Styles/ Reset
  ===============
  */
  :root {
    --primary-background: #1992d4;
    --primary-background-light: #95cbe798;
    --white: #f5f4ee;
    --bg-secondary-1: #e4e2d8;
    --mostaza: #f0b429;
    --grey-primary-1: #646464;
  }

  *,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
h1,
h2,
h3,
h4 p,
figure,
picture {
    margin: 0;
  }

  h1,
h2,
h3,
h4,
h5 {
    text-transform: capitalize;
    font-weight: 400;
  }

  a,
li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
  }

  body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  }

  /* imgs easier to work with */
  img,
picture {
    max-width: 100%;
    display: block;
  }

  /* form elements easier to work with */
  input,
button,
textarea,
select {
    font: inherit;
  }
}
@media screen and (min-width: 0) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav .mobile-hamburger {
    margin: 1rem;
    font-size: 1.4rem;
    display: block;
    color: black;
    background-color: transparent;
    border: none;
  }
  .mobile-nav .mobile-info {
    margin: 1rem;
    padding-inline: 0.8rem;
    border-radius: 10px;
    border-color: transparent;
    background: var(--primary-background);
    color: var(--white);
    font-weight: bold;
  }
}
@media screen and (min-width: 0) {
  .second-column {
    display: grid;
    justify-items: center;
  }
  .second-column .prophile-pic {
    border-radius: 50%;
  }
  .second-column .header-items {
    width: 100%;
    display: grid;
    justify-items: center;
    z-index: 2;
    box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.527);
    padding-bottom: 1rem;
  }
  .second-column .header-items .search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
  }
  .second-column .header-items .search--bar {
    border: 1px solid var(--grey-primary-1);
    border-radius: 10px;
    background-color: var(--bg-secondary-1);
    padding-inline: 1rem;
  }
  .second-column .header-items .search--bar:focus {
    background-color: transparent;
  }
  .second-column .header-items .header-name {
    display: none;
  }
  .second-column .header-items .user-welcome {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .second-column .header-items .user-welcome .prophile-pic {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .second-column .header-items .buttons {
    margin-top: 1rem;
  }
  .second-column .header-items .buttons button {
    background-color: #1992d4;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: #f5f4ee;
    font-weight: bold;
    border: none;
    border-radius: 15px;
  }
}
@media screen and (min-width: 0) {
  .projects-background {
    background-color: #e4e2d8;
    width: 100vw;
  }
  .projects-background h2 {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
  .projects-background .projects {
    display: grid;
    padding-inline: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, 30rem));
    gap: 1rem;
    justify-content: center;
  }
  .projects-background .projects .project-card {
    position: relative;
    background-color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    border-left: 1rem solid #f0b429;
  }
  .projects-background .projects .project-card:last-child {
    margin-bottom: 1rem;
  }
  .projects-background .projects .project-card .icons {
    position: absolute;
    bottom: 2px;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    padding: 1rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 0) {
  .righ-side[data-visible=true] {
    transform: translateX(0);
    z-index: 999;
  }
  .righ-side[data-visible=true] .info-close {
    position: absolute;
    top: 0.1rem;
    left: 1rem;
    display: block;
    color: rgb(168, 0, 0);
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
  }

  .righ-side {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e4e2d8;
    transform: translateY(-100%);
    transition: 0.4s;
  }
  .righ-side .announcements h2 {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .righ-side .announcement-container {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.39);
  }
}
@media screen and (min-width: 0) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-background);
    padding: 2rem;
    height: 100vh;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 0.4px;
    font-family: "Roboto", sans-serif;
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.4);
    transform: translateX(-103%);
    transition: 0.4s;
    z-index: 999;
  }
  .sidebar h1 {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .sidebar li {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
  .sidebar .second-dash-row {
    margin-top: 3rem;
  }

  .sidebar[data-visible=true] {
    transform: translateX(0);
    z-index: 999;
  }
  .sidebar[data-visible=true] .hamburger-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    color: rgb(168, 0, 0);
    font-weight: bold;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
